
#special paths

build.log
example/jc
example/mm
example/redblack
simplesim/simplesim
valgrind-source/configure
valgrind-source/autom4te.cache/
valgrind-source/install

#generic masks

Makefile.in
*.o
*.so
.deps

#files to workaround failing to get an out of tree build working
valgrind-source/Makefile
valgrind-source/*/Makefile
valgrind-source/*/*/Makefile
valgrind-source/*/*/*/Makefile

valgrind-source/.in_place/
valgrind-source/VEX/libvex-amd64-linux.a
valgrind-source/VEX/libvex-x86-linux.a
valgrind-source/auxprogs/valgrind-listener
valgrind-source/cachegrind/cachegrind-amd64-linux
valgrind-source/cachegrind/cachegrind-x86-linux
valgrind-source/cachegrind/cg_annotate
valgrind-source/cachegrind/cg_diff
valgrind-source/cachegrind/cg_merge
valgrind-source/callgrind/callgrind-amd64-linux
valgrind-source/callgrind/callgrind-x86-linux
valgrind-source/callgrind/callgrind_annotate
valgrind-source/callgrind/callgrind_control
valgrind-source/config.log
valgrind-source/config.status
valgrind-source/coregrind/libcoregrind-amd64-linux.a
valgrind-source/coregrind/libcoregrind-x86-linux.a
valgrind-source/coregrind/libreplacemalloc_toolpreload-amd64-linux.a
valgrind-source/coregrind/libreplacemalloc_toolpreload-x86-linux.a
valgrind-source/coregrind/link_tool_exe_darwin
valgrind-source/coregrind/link_tool_exe_linux
valgrind-source/coregrind/valgrind
valgrind-source/coregrind/vgdb
valgrind-source/default.supp
valgrind-source/drd/drd-amd64-linux
valgrind-source/drd/drd-x86-linux
valgrind-source/drd/scripts/download-and-build-splash2
valgrind-source/exp-bbv/exp-bbv-amd64-linux
valgrind-source/exp-bbv/exp-bbv-x86-linux
valgrind-source/exp-dhat/exp-dhat-amd64-linux
valgrind-source/exp-dhat/exp-dhat-x86-linux
valgrind-source/exp-sgcheck/exp-sgcheck-amd64-linux
valgrind-source/exp-sgcheck/exp-sgcheck-x86-linux
valgrind-source/glibc-2.X.supp
valgrind-source/helgrind/helgrind-amd64-linux
valgrind-source/helgrind/helgrind-x86-linux
valgrind-source/lackey/lackey-amd64-linux
valgrind-source/lackey/lackey-x86-linux
valgrind-source/massif/massif-amd64-linux
valgrind-source/massif/massif-x86-linux
valgrind-source/massif/ms_print
valgrind-source/mctracer/mctracer-amd64-linux
valgrind-source/mctracer/mctracer-x86-linux
valgrind-source/mctracer/tr-consumer
valgrind-source/memcheck/memcheck-amd64-linux
valgrind-source/memcheck/memcheck-x86-linux
valgrind-source/none/none-amd64-linux
valgrind-source/none/none-x86-linux
valgrind-source/stamp-h1
valgrind-source/valgrind.pc
