build.log

jc
mm
redblack
redblack_ncurses

*.etis
*.o
*.in
valgrind-source/none/tests
valgrind-source/memcheck
valgrind-source/massif
valgrind-source/mpi
valgrind-source/VEX
valgrind-source/callgrind
valgrind-source/cachegrind
valgrind-source/coregrind
valgrind-source/exp-*/
valgrind-source/helgrind
valgrind-source/lackey
valgrind-source/drd

.*


valgrind-source/Makefile
valgrind-source/aclocal.m4
valgrind-source/autom4te.cache/
valgrind-source/auxprogs/Makefile
valgrind-source/config.h
valgrind-source/config.log
valgrind-source/config.status
valgrind-source/configure
valgrind-source/docs/Makefile
valgrind-source/gdbserver_tests/Makefile
valgrind-source/glibc-2.X.supp
valgrind-source/include/Makefile
valgrind-source/install/
valgrind-source/mctracer/Makefile
valgrind-source/mctracer/tests/Makefile
valgrind-source/none/Makefile
valgrind-source/perf/Makefile
valgrind-source/stamp-h1
valgrind-source/tests/Makefile
valgrind-source/valgrind.pc

tex/presentation/main.log
tex/presentation/main.toc
tex/presentation/main.aux
tex/presentation/main.nav
tex/presentation/main.out
tex/presentation/main.snm
tex/presentation/main.pdf
tex/docs/*/main.log
tex/docs/*/main.toc
tex/docs/*/main.aux
tex/docs/*/main.nav
tex/docs/*/main.out
tex/docs/*/main.snm
tex/docs/*/main.pdf


/*
!/tex
!/valgrind-source
!/examples
!/gui

