#bucjac
Jakob Buchgraber <jakob.buchgraber@tum.de> bucjac <bucjac@gmail.com>

#julius
Julius Michaelis <michaeli@informatik.tu-muenchen.de> julius <michaeli@informatik.tu-muenchen.de>
Julius Michaelis <michaeli@informatik.tu-muenchen.de> julius <julius@MICTOP.(none)>
Julius Michaelis <michaeli@informatik.tu-muenchen.de> julius <julius@2d2cb452-3308-4e9a-bf1f-7df7ff3b6518>

#matthias
Matthias Brugger <bruggerm@in.tum.de> matthias <bruggerm@in.tum.de>
Matthias Brugger <bruggerm@in.tum.de> matthias <matthias@MATTHIAS-EeePC.(none)>
